body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.buttonn{
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
}